<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portal</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" type="text/css" href="/styles/dashboard.css" />

</head>


<body>

  <div class="container">
    <aside>

      <div class="top">
        <div class="logo">
          <a href="/dashboard"><img src="../images/portal-logo.png" /></a>
          <a href="/dashboard"><h2>Portal</h2></a>
        </div>
        <div class="close" id="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>

      <div class="sidebar">

        <a href="/profile">
          <i class="fa-solid fa-user"></i>
          <h3>Profile</h3>
        </a>

        <a href="/dashboard" class="active">
          <i class="fa-solid fa-grip-vertical"></i>
          <h3>Dashboard</h3>
        </a>

        <a href="/team">
          <i class="fa-solid fa-people-group"></i>
          <h3>Team</h3>
        </a>

        <a href="/tasks">
          <i class="fa-regular fa-clipboard"></i>
          <h3>Tasks</h3>
        </a>

        <a href="/messages">
          <i class="fa-solid fa-comment"></i>
          <h3>Messages</h3>
          
        </a>

        <div class="logout-container">
          <form action="/logout?_method=DELETE" method="POST" class="logout-form">
            <button type="submit" class="btn-form-link">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>

          </form>
        </div>
      </div>
    </aside>

    <main>

      <h1>Dashboard</h1>

      <div class="date" id="currentDateTime"></div>


      <div class="insights">

        <!-- Weather -->

        <div class="weather">

          <div class="weather-main">

            <div class="weather-details">

              <div class="col icon">
                <img src="" class="weather-icon" id="weather-icon">

              </div>

              <div class="col temperature-city">
                <h2 class="temp">
                  </h1>
                  <h2 class="city"></h2>

              </div>

              <div class="col temperature">


              </div>

              <div class="col details">
                <h3 class="description">
                  </h1>
                  <div>
                    <span class="humidity"></span>
                    <span>Humidity</span>
                  </div>

                  <div>
                    <span class="wind"></span>
                    <span>Wind</span>
                  </div>

              </div>

            </div>
          </div>

        </div>

        <!-- upcoming tasks -->
        <div class="upcoming-tasks" id="upcoming-tasks-placeholder">
          <h2>Upcoming tasks</h2>
          <table>
            <thead>
              <tr>
                <th>Task Name</th>
                <th>Priority</th>
                <th>Assignee</th>
                <th>Due Date</th>
                <th>Status</th>

              </tr>
            </thead>
            <tbody>
              <!--task datail-->
              <% tasks.forEach((task,index)=> { %>


                <tr class="task-info <%= index >= 4 ? 'hidden' : '' %>">

                  <td class="task-name">
                    <%= task.name %>
                  </td>

                  <td class="task-priority">
                    <%= task.priority %>
                      </a>
                  </td>

                  <td class="task-assignee">
                    <%= task.taskAssignee ? task.taskAssignee.name : 'Unassigned' %>
                  </td>

                  <td class="task-dueDate">

                    <%= task.dueDate %>
                  </td>

                  <td class="task-status">
                    <%= task.status %>
                  </td>

                </tr>
                <% }); %>
            </tbody>

          </table>
          <button id="toggle-task-view">Show All</button>
        </div>
      </div>

    </main>

    <!-- right side -->
    <div class="right">

      <!-- top -->
      <div class="top">

        <button id="menu-btn">
          <i class="fa-solid fa-bars"></i>
        </button>

        <div class="theme-toggler">
          <i class="fa-regular fa-sun active"></i>
          <i class="fa-regular fa-moon"></i>
        </div>

        <div class="profile">
          <div class="info">

            <small class="text-muted"></small>
          </div>

          <div class="profile-photo">
            <a href="/profile">
              <img src="<%= avatar %>" alt="Profile photo" />
            </a>
          </div>
        </div>

      </div>

      <!-- recent-updates -->

      <div class="recent-updates">
        <h2>Recent Updates</h2>
        <div class="updates">
          <% if (logs.length===0) { %>
            <div class="no-updates">No recent updates</div>
            <% } %>
              <% logs.forEach(log=> { %>
                <div class="update">
                  <div class="profile-photo">
                    <img src="<%= log.user.avatar %>" alt="<%= log.user.name %>'s profile photo" />
                  </div>
                  <div class="message">
                    <p><b>
                        <%= log.user.name %>
                      </b>
                      <%= log.action %> a task
                    </p>
                    <small class="text-muted">
                      <%= new Date(log.timestamp).toLocaleString() %>
                    </small>
                  </div>
                </div>
                <% }) %>
        </div>
      </div>

    </div>


  </div>




  </div>

  <!--toggle button functionality-->
  <script src="../scripts/dashboard.js"></script>

  <script src="../scripts/display-datetime.js"></script>

  <script>

    const apiKey = "<%= apiKey %>"
    const apiUrl = "https://api.openweathermap.org/data/2.5/weather?units=imperial&q=San%20Francisco"

    async function checkWeather() {
      const response = await fetch(apiUrl + `&appid=${apiKey}`)
      var data = await response.json()

      console.log(data)

      document.querySelector('.city').innerHTML = data.name
      document.querySelector('.temp').innerHTML = `${data.main.temp}°F`
      document.querySelector('.description').innerHTML = data.weather[0].description
      document.querySelector('.humidity').innerHTML = `${data.main.humidity}%`
      document.querySelector('.wind').innerHTML = `${data.wind.speed} mph`

      const weatherIcon = document.getElementById('weather-icon')
      const weatherCode = data.weather[0].icon

      weatherIcon.src = `../images/${weatherCode}@2x.png`

    }

    checkWeather()
  </script>


</body>