<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="/styles/dashboard.css" />
  <link rel="stylesheet" type="text/css" href="/styles/profile.css" />
  <link rel="stylesheet" type="text/css" href="/styles/modal.css" />




</head>

<body>
  <div class="container">

    <aside>

      <div class="top">
        <div class="logo">
          <img src="../images/portal-logo.png" />
          <h2>Portal</h2>
        </div>
        <div class="close" id="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="sidebar">

        <a href="/profile" class="active">
          <i class="fa-solid fa-user"></i>
          <h3>Profile</h3>
        </a>

        <a href="/dashboard">
          <i class="fa-solid fa-grip-vertical"></i>
          <h3>Dashboard</h3>
        </a>

        <a href="/team">
          <i class="fa-solid fa-people-group"></i>
          <h3>Team</h3>
        </a>

        <a href="tasks">
          <i class="fa-regular fa-clipboard"></i>
          <h3>Tasks</h3>
        </a>

        <a href="/analytics">
          <i class="fa-solid fa-chart-line"></i>
          <h3>Analytics</h3>
        </a>

        <a href="/messages">
          <i class="fa-solid fa-comment"></i>
          <h3>Messages</h3>
          <span class="message-count">26</span>
        </a>



        <a href="/login">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>

    <main>

      <h1>User Profile</h1>

      <div class="wrapper">
        <div>
          
          <canvas id="avatarCanvas" width="150" height="150"></canvas>
          
          <div class="name">
            
              <p>
                <strong>Name:</strong>
                <%= name %>
              </p>
          </div>

          <div class="email">
            <p>
              <strong>Email:</strong>
              <%= email %>
            </p>
          </div>

          <div class="dob">
            <p>
              <strong>Birthday:</strong>
              <%= birthday ? birthday.toISOString().split('T')[0] : 'N/A' %>
            </p>
          </div>

          <div class="job-title">
            <p>
              <strong>Job Title:</strong>
              <%= jobTitle || 'N/A' %>
            </p>
          </div>

          <div class-="department">
            <p>
              <strong>Department:</strong>
              <%= department || 'N/A' %>
            </p>
          </div>
          <!-- Update button to initiate profile update -->
          <button type="button" class="edit-profile-btn">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>

      </div>

    </main>

    <%- include('top.ejs') %>

    <div id="background-overlay"></div>
      <div id="avatar-modal" class="modal">
        <div class="modal-content">
          <span class="close">
            <i class="fa-solid fa-xmark"></i>
          </span>
          <h2>Edit Profile Picture</h2>
          <input type="file" accept="image/*" id="avatarUploadInput">
          <button id="saveAvatarButton">Save Avatar</button>
        </div>

      </div>



      <!--modal form for editing profile-->
      <div id="edit-profile-modal" class="modal">
        <div class="modal-content">
          <span class="close">
            <i class="fa-solid fa-xmark"></i>
          </span>
          <h2>Edit Profile</h2>
          <form id="edit-profile-form" action="/profile" method="POST">

            <input type="hidden" id="edit-profile-id" name="profileId">

            <div class="form-group">
              <label for="edit-profile-name">Name:</label>
              <input type="text" id="edit-profile-name" name="profileName">
            </div>

            <div class="form-group">
              <label for="edit-profile-email">Email:</label>
              <textarea id="edit-profile-email" name="profileEmail"></textarea>
            </div>


            <div class="form-group">
              <label for="edit-profile-birthday">Birthday:</label>
              <input type="date" id="edit-profile-birthday" name="profileBirthday">
            </div>

            <div class="form-group">
              <label for="edit-profile-jobTitle">Job Title:</label>
              <textarea id="edit-profile-jobTitle" name="profileJobTitle"></textarea>
            </div>

            <div class="form-group">
              <label for="edit-profile-department">Department:</label>
              <textarea id="edit-profile-department" name="profileDepartment"></textarea>
            </div>

            <button type="submit">Save Changes</button>

          </form>
        </div>
      </div>
      


  </div>

  <!--profile picture-->
  <script src="../scripts/profile-avatar.js"></script>
  <script src="../scripts/edit-avatar.js"></script>

  <script src="../scripts/edit-profile.js"></script>
  

</body>